[run]
branch = True
source =
    sortlab
omit =
    */__init__.py
    */interfaces/*
    */migrations/*
    */tests/*
    */settings/*
    */venv/*
    */env/*
    */.venv/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    raise NotImplementedError
    pass

show_missing = True
skip_covered = True

[html]
directory = htmlcov
title = Cobertura de Código - sortlab
